# Inicio
[Enunciado.](https://docs.google.com/document/d/1ZfZAJFjaKTtWtREfNAPUXhxnf6J42qI-mAg6vF1uWUA/) |
[Informe.](https://docs.google.com/document/d/1a9VOFq1fccPuiFBY21JuMnR78QpHkrwxKfeiG6ZmFiw/) |
[Repositorio.](https://github.com/NicoDeGiacomo/ODD-TP2)

In [91]:
import pandas as pd
from sklearn.ensemble import RandomForestRegressor

In [92]:
# TRAIN SET
url = "https://raw.githubusercontent.com/NicoDeGiacomo/ODD-TP2/main/train_set.csv"
train_df = pd.read_csv(url)
train_df.head()

      ID    Region  ...        Stage       Prod_Category_A
0  27761      EMEA  ...  Closed Lost  Prod_Category_A_None
1  27760      EMEA  ...   Closed Won  Prod_Category_A_None
2  27446  Americas  ...   Closed Won  Prod_Category_A_None
3  16808  Americas  ...  Closed Lost  Prod_Category_A_None
4  16805  Americas  ...  Closed Lost  Prod_Category_A_None

[5 rows x 52 columns]

In [93]:
# TEST SET
url = "https://raw.githubusercontent.com/NicoDeGiacomo/ODD-TP2/main/test_set.csv"
test_df = pd.read_csv(url)
test_df.head()

     ID Region  ... Total_Taxable_Amount       Prod_Category_A
0  6140   EMEA  ...             367419.0  Prod_Category_A_None
1  6146   EMEA  ...             367419.0  Prod_Category_A_None
2  6151   EMEA  ...             367419.0  Prod_Category_A_None
3  6118   EMEA  ...             757783.5  Prod_Category_A_None
4  6124   EMEA  ...             757783.5  Prod_Category_A_None

[5 rows x 51 columns]

# Feature Engineering

## Limpieza de datos

In [104]:
# Las siguientes columnas no deben ser tomadas en cuenta

# Asumimos que se establecen luego de confirmada la compra
# Planned_Delivery_Start_Date, Planned_Delivery_End_Date, Delivery_Quarter, Delivery_Year, Actual_Delivery_Date
train_df.drop(["Planned_Delivery_Start_Date", "Planned_Delivery_End_Date", "Delivery_Quarter", "Delivery_Year", "Actual_Delivery_Date"], axis=1, inplace=True, errors="ignore")
test_df.drop(["Planned_Delivery_Start_Date", "Planned_Delivery_End_Date", "Delivery_Quarter", "Delivery_Year", "Actual_Delivery_Date"], axis=1, inplace=True, errors="ignore")

# Solo 14 rows tienen un valor distinto de cero
#len(train_df[train_df["Submitted_for_Approval"] == 0])
train_df.drop(["Submitted_for_Approval"], axis=1, inplace=True, errors="ignore")
test_df.drop(["Submitted_for_Approval"], axis=1, inplace=True, errors="ignore")

# Tienen todos valores NaT
# Last_Activity Prod_Category_A
# train_df["Last_Activity"].value_counts()
train_df.drop(["Prod_Category_A"], axis=1, inplace=True, errors="ignore")
test_df.drop(["Last_Activity"], axis=1, inplace=True, errors="ignore")

# Tienen cerca de 16k de valores en None
# train_df["Price"].value_counts()
train_df.drop(["Brand", "Product_Type", "Size", "Product_Category_B", "Price", "Currency", "ASP_(converted)_Currency", "Actual_Delivery_Date"], axis=1, inplace=True, errors="ignore")
train_df.drop(["Brand", "Product_Type", "Size", "Product_Category_B", "Price", "Currency", "ASP_(converted)_Currency", "Actual_Delivery_Date"], axis=1, inplace=True, errors="ignore")

## Modificacion y creacion de features

In [95]:
# Podemos convertir el target en un numero binario
# Closed Won --> 1
# Closed Lost --> 0

In [ ]:
# Podemos hacer un encoding de alguna variable categórica como "Territory", "Region"

# Modelos

## Modelo 1
 * Random Forests
 * Este modelo no necesita la conversión de variables categóricas a numéricas

In [106]:
# Separamos la variable a predecir (Stage)
train_x, train_y = train_df.iloc[:,:-1], train_df.iloc[:,-1]
test_x, test_y = test_df.iloc[:,:-1], test_df.iloc[:,-1]

In [ ]:
# Ahora generamos el modelo
random_forests = RandomForestRegressor(random_state=1)

## Modelo 2

In [97]:
# Modelo 1