# Inicio
[Enunciado.](https://docs.google.com/document/d/1ZfZAJFjaKTtWtREfNAPUXhxnf6J42qI-mAg6vF1uWUA/) |
[Informe.](https://docs.google.com/document/d/1a9VOFq1fccPuiFBY21JuMnR78QpHkrwxKfeiG6ZmFiw/) |
[Repositorio.](https://github.com/NicoDeGiacomo/ODD-TP2)

In [164]:
import pandas as pd
from sklearn.ensemble import RandomForestRegressor
import numpy as np

In [165]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [166]:
# TRAIN SET
url = "https://raw.githubusercontent.com/NicoDeGiacomo/ODD-TP2/main/train_set.csv"
train_df = pd.read_csv(url)
train_df.head()

      ID    Region  ...        Stage       Prod_Category_A
0  27761      EMEA  ...  Closed Lost  Prod_Category_A_None
1  27760      EMEA  ...   Closed Won  Prod_Category_A_None
2  27446  Americas  ...   Closed Won  Prod_Category_A_None
3  16808  Americas  ...  Closed Lost  Prod_Category_A_None
4  16805  Americas  ...  Closed Lost  Prod_Category_A_None

[5 rows x 52 columns]

In [167]:
# TEST SET
url = "https://raw.githubusercontent.com/NicoDeGiacomo/ODD-TP2/main/test_set.csv"
test_df = pd.read_csv(url)
test_df.head()

     ID Region  ... Total_Taxable_Amount       Prod_Category_A
0  6140   EMEA  ...             367419.0  Prod_Category_A_None
1  6146   EMEA  ...             367419.0  Prod_Category_A_None
2  6151   EMEA  ...             367419.0  Prod_Category_A_None
3  6118   EMEA  ...             757783.5  Prod_Category_A_None
4  6124   EMEA  ...             757783.5  Prod_Category_A_None

[5 rows x 51 columns]

# Feature Engineering

## Limpieza de datos

In [168]:
# Limpieza de datos general, donde eliminamos columnas que no deben ser tomadas en cuenta.

# Nos quedamos solamente con los estados cerrados
train_df = train_df[(train_df["Stage"] == "Closed Won")|(train_df["Stage"] == "Closed Lost")]

# Asumimos que se establecen luego de confirmada la compra
# Planned_Delivery_Start_Date, Planned_Delivery_End_Date, Delivery_Quarter, Delivery_Year, Actual_Delivery_Date, Month
train_df.drop(["Planned_Delivery_Start_Date", "Planned_Delivery_End_Date", "Delivery_Quarter", "Delivery_Year", "Actual_Delivery_Date", "Month"], axis=1, inplace=True, errors="ignore")
test_df.drop(["Planned_Delivery_Start_Date", "Planned_Delivery_End_Date", "Delivery_Quarter", "Delivery_Year", "Actual_Delivery_Date", "Month"], axis=1, inplace=True, errors="ignore")

# Solo 14 rows tienen un valor distinto de cero
#len(train_df[train_df["Submitted_for_Approval"] == 0])
train_df.drop(["Submitted_for_Approval"], axis=1, inplace=True, errors="ignore")
test_df.drop(["Submitted_for_Approval"], axis=1, inplace=True, errors="ignore")

# Tienen todos valores NaT
# Last_Activity Prod_Category_A
# train_df["Last_Activity"].value_counts()
train_df.drop(["Prod_Category_A", "Last_Activity"], axis=1, inplace=True, errors="ignore")
test_df.drop(["Prod_Category_A", "Last_Activity"], axis=1, inplace=True, errors="ignore")

# Tienen cerca de 16k de valores en None
# train_df["Price"].value_counts()
train_df.drop(["Brand", "Product_Type", "Size", "Product_Category_B", "Price", "Currency", "ASP_(converted)_Currency", "Actual_Delivery_Date", "ASP_(converted)"], axis=1, inplace=True, errors="ignore")
test_df.drop(["Brand", "Product_Type", "Size", "Product_Category_B", "Price", "Currency", "ASP_(converted)_Currency", "Actual_Delivery_Date", "ASP_(converted)"], axis=1, inplace=True, errors="ignore")

# Account_Created es irrelevante
train_df.drop(["Account_Created_Date"], axis=1, inplace=True, errors="ignore")
test_df.drop(["Account_Created_Date"], axis=1, inplace=True, errors="ignore")

# Quote_Expiry_Date parece irrelevante
train_df.drop(["Quote_Expiry_Date"], axis=1, inplace=True, errors="ignore")
test_df.drop(["Quote_Expiry_Date"], axis=1, inplace=True, errors="ignore")

# Opportunity_Name no aporta
train_df.drop(["Opportunity_Name"], axis=1, inplace=True, errors="ignore")
test_df.drop(["Opportunity_Name"], axis=1, inplace=True, errors="ignore")

# Sales_Contract_No, Last_Modified_By y Last_Modified_Date no es información disponible al momento de realizar la predicción.
# No debería usarse, para evitar target leakage.
train_df.drop(["Sales_Contract_No", "Last_Modified_By", "Last_Modified_Date"], axis=1, inplace=True, errors="ignore")
test_df.drop(["Sales_Contract_No", "Last_Modified_By", "Last_Modified_Date"], axis=1, inplace=True, errors="ignore")

# La columna ID no debería influir en el destino de la oportunidad
train_df.drop(["ID"], axis=1, inplace=True, errors="ignore")
test_df.drop(["ID"], axis=1, inplace=True, errors="ignore")

# Eliminarmos el espacio de la columna Source
train_df.rename(columns={'Source ':'Source'}, inplace=True, errors="ignore")
test_df.rename(columns={'Source ':'Source'}, inplace=True, errors="ignore")

## Modificacion y creacion de features

In [169]:
!pip install currencyconverter
from currency_converter import CurrencyConverter
from datetime import date, datetime

Requirement already satisfied: currencyconverter in /usr/local/lib/python3.6/dist-packages (0.15)

In [170]:
# Hay que unificar las monedas de los campos:
# Total_Amount (Total_Amount_Currency)
# ASP (ASP_Currency)
# Total_Taxable_Amount (Total_Taxable_Amount_Currency)
# Hay 5 monedas distintas en el dataset: "USD", "JPY", "EUR", "AUD", "GBP"
# La conversión se debe realizar con el tipo de cambio de la fecha de la oportunidad

c = CurrencyConverter(fallback_on_missing_rate=True)

def convert_to_usd(args):
    amount, currency, s_date = args
    return c.convert(amount, currency, 'USD', date=datetime.strptime(s_date, '%m/%d/%Y').date())

train_df=train_df.assign(**{'Total_Amount_USD': train_df[["Total_Amount", "Total_Amount_Currency", "Opportunity_Created_Date"]].apply(convert_to_usd, axis=1)})
train_df=train_df.assign(**{'ASP_USD': train_df[["ASP", "ASP_Currency", "Opportunity_Created_Date"]].apply(convert_to_usd, axis=1)})
train_df=train_df.assign(**{'Total_Taxable_Amount_USD': train_df[["Total_Taxable_Amount", "Total_Taxable_Amount_Currency", "Opportunity_Created_Date"]].apply(convert_to_usd, axis=1)})

test_df=test_df.assign(**{'Total_Amount_USD': test_df[["Total_Amount", "Total_Amount_Currency", "Opportunity_Created_Date"]].apply(convert_to_usd, axis=1)})
test_df=test_df.assign(**{'ASP_USD': test_df[["ASP", "ASP_Currency", "Opportunity_Created_Date"]].apply(convert_to_usd, axis=1)})
test_df=test_df.assign(**{'Total_Taxable_Amount_USD': test_df[["Total_Taxable_Amount", "Total_Taxable_Amount_Currency", "Opportunity_Created_Date"]].apply(convert_to_usd, axis=1)})

# Ahora puedo eliminar las columnas anteriores
train_df.drop(["Total_Amount", "Total_Amount_Currency","ASP", "ASP_Currency","Total_Taxable_Amount", "Total_Taxable_Amount_Currency"], axis=1, inplace=True, errors="ignore")
test_df.drop(["Total_Amount", "Total_Amount_Currency","ASP", "ASP_Currency","Total_Taxable_Amount", "Total_Taxable_Amount_Currency"], axis=1, inplace=True, errors="ignore")

In [171]:
# Separamos Opportunity_Created_Date en distintas columnas
train_df=train_df.assign(**{'Opportunity_Created_Month': train_df[["Opportunity_Created_Date"]].apply(lambda x: datetime.strptime(x[0], '%m/%d/%Y').month, axis=1)})
train_df=train_df.assign(**{'Opportunity_Created_Day': train_df[["Opportunity_Created_Date"]].apply(lambda x: datetime.strptime(x[0], '%m/%d/%Y').day, axis=1)})
train_df=train_df.assign(**{'Opportunity_Created_Year': train_df[["Opportunity_Created_Date"]].apply(lambda x: datetime.strptime(x[0], '%m/%d/%Y').year, axis=1)})

# Separamos Opportunity_Created_Date en distintas columnas
test_df=test_df.assign(**{'Opportunity_Created_Month': test_df[["Opportunity_Created_Date"]].apply(lambda x: datetime.strptime(x[0], '%m/%d/%Y').month, axis=1)})
test_df=test_df.assign(**{'Opportunity_Created_Day': test_df[["Opportunity_Created_Date"]].apply(lambda x: datetime.strptime(x[0], '%m/%d/%Y').day, axis=1)})
test_df=test_df.assign(**{'Opportunity_Created_Year': test_df[["Opportunity_Created_Date"]].apply(lambda x: datetime.strptime(x[0], '%m/%d/%Y').year, axis=1)})

# Ahora puedo eliminar las columnas anteriores
train_df.drop(["Opportunity_Created_Date"], axis=1, inplace=True, errors="ignore")
test_df.drop(["Opportunity_Created_Date"], axis=1, inplace=True, errors="ignore")

In [172]:
# Las columnas "Pricing, Delivery_Terms_Quote_Appr" y "Pricing, Delivery_Terms_Approved" se pueden resumir en una.
# Las columnas "Bureaucratic_Code_0_Approval" y "Bureaucratic_Code_0_Approved" se pueden resumir en una.
def is_approved(args):
    requested, approved = args
    if requested == approved:
      return 1
    if requested == 1:
      return 0
    return 1

train_df=train_df.assign(**{'Pricing_And_Delivery_OK': train_df[["Pricing, Delivery_Terms_Quote_Appr", "Pricing, Delivery_Terms_Approved"]].apply(is_approved, axis=1)})
test_df=test_df.assign(**{'Pricing_And_Delivery_OK': test_df[["Pricing, Delivery_Terms_Quote_Appr", "Pricing, Delivery_Terms_Approved"]].apply(is_approved, axis=1)})

train_df=train_df.assign(**{'Bureaucratic_OK': train_df[["Bureaucratic_Code_0_Approval", "Bureaucratic_Code_0_Approved"]].apply(is_approved, axis=1)})
test_df=test_df.assign(**{'Bureaucratic_OK': test_df[["Bureaucratic_Code_0_Approval", "Bureaucratic_Code_0_Approved"]].apply(is_approved, axis=1)})


# Ahora puedo eliminar las columnas anteriores
train_df.drop(["Pricing, Delivery_Terms_Quote_Appr", "Pricing, Delivery_Terms_Approved","Bureaucratic_Code_0_Approval", "Bureaucratic_Code_0_Approved"], axis=1, inplace=True, errors="ignore")
test_df.drop(["Pricing, Delivery_Terms_Quote_Appr", "Pricing, Delivery_Terms_Approved","Bureaucratic_Code_0_Approval", "Bureaucratic_Code_0_Approved"], axis=1, inplace=True, errors="ignore")

## Encondings

### Common Init

In [173]:
# Aplicamos un ecoding a las variables categoricas
# Posibles: OneHotEncoding, LabelEncoding, FrequencyEncoding

# Copiamos el dataframe para aplicar encodings varios
train_df_enc = train_df.copy()
test_df_enc = test_df.copy()

# Convertimos el Stage en 1/0 (aplica a todos los encodings) (solo al set de entrenamiento)
train_df_enc["Stage"]=train_df_enc["Stage"].replace({'Closed Won':1 , 'Closed Lost':0})

### One Hot Encoding

In [ ]:
# Aplicamos OneHotEncoding
train_df_enc_onehot = pd.get_dummies(train_df_enc, columns = ["Region", "Territory", "Bureaucratic_Code", "Source", "Billing_Country", "Account_Name", "Account_Owner", "Opportunity_Owner", "Account_Type", "Opportunity_Type","Quote_Type","Delivery_Terms","Product_Family","Product_Name"], dummy_na=False, drop_first=True)
test_df_enc_onehot = pd.get_dummies(test_df_enc, columns = ["Region", "Territory", "Bureaucratic_Code", "Source", "Billing_Country", "Account_Name", "Account_Owner", "Opportunity_Owner", "Account_Type", "Opportunity_Type","Quote_Type","Delivery_Terms","Product_Family","Product_Name"], dummy_na=False, drop_first=True)

### Frequency Enconding

In [202]:
# Aplicamos FrequencyEncoding
attributes_to_encode = ["Region", "Territory", "Bureaucratic_Code", "Source", "Billing_Country", "Account_Name", "Account_Owner", "Opportunity_Owner", "Account_Type", "Opportunity_Type","Quote_Type","Delivery_Terms","Product_Family","Product_Name"]
train_df_enc_freq = train_df_enc.copy()
test_df_enc_freq = test_df_enc.copy()

for attr in attributes_to_encode:
  freq_encoder = (train_df_enc.groupby(attr).size()) / len(train_df_enc)
  train_df_enc_freq['enc_'+attr] = train_df_enc[attr].apply(lambda x : freq_encoder[x])

  freq_encoder = (test_df_enc.groupby(attr).size()) / len(test_df_enc)
  test_df_enc_freq['enc_'+attr] = test_df_enc[attr].apply(lambda x : freq_encoder[x])

# Elimino las columnas encodeadas
train_df_enc_freq.drop(attributes_to_encode, axis=1, inplace=True, errors="ignore")
test_df_enc_freq.drop(attributes_to_encode, axis=1, inplace=True, errors="ignore")

### Common End

In [203]:
# Agrupamos por Opportunity_ID los diferentes sets
# Revisar si MAX es lo mejor a usar
train_set = train_df.groupby("Opportunity_ID").max()
test_set = test_df.groupby("Opportunity_ID").max()

train_df_enc_onehot = train_df_enc_onehot.groupby("Opportunity_ID").max()
test_df_enc_onehot = test_df_enc_onehot.groupby("Opportunity_ID").max()

train_df_enc_freq = train_df_enc_freq.groupby("Opportunity_ID").max()
test_df_enc_freq = test_df_enc_freq.groupby("Opportunity_ID").max()

# Modelos

## Modelo 1
 * XGBoost

In [204]:
# Separamos la variable a predecir (Stage)
xg_boost_train_y = train_df_enc_freq["Stage"]
xg_boost_train_x = train_df_enc_freq.drop(["Stage"], axis=1)

xg_boost_test_x = test_df_enc_freq.copy()

In [205]:
import xgboost as xgb

# Generamos el modelo
xg_boost = xgb.XGBRegressor(objective ='reg:squarederror', 
                colsample_bytree = 0.3, learning_rate = 0.1,
                max_depth = 5, alpha = 10, n_estimators = 10)

# Entrenamos el modelo
xg_boost.fit(xg_boost_train_x,xg_boost_train_y)

# Predecimos
#xg_preds = xg_boost.predict(xg_boost_test_x)

XGBRegressor(alpha=10, base_score=0.5, booster='gbtree', colsample_bylevel=1,
             colsample_bynode=1, colsample_bytree=0.3, gamma=0,
             importance_type='gain', learning_rate=0.1, max_delta_step=0,
             max_depth=5, min_child_weight=1, missing=None, n_estimators=10,
             n_jobs=1, nthread=None, objective='reg:squarederror',
             random_state=0, reg_alpha=0, reg_lambda=1, scale_pos_weight=1,
             seed=None, silent=None, subsample=1, verbosity=1)

## Modelo 2
Usamos Distributed Random Forest (H2ORandomForestEstimator)

In [ ]:

!apt-get install openjdk-8-jdk-headless -qq > /dev/null
import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"
!update-alternatives --set java /usr/lib/jvm/java-8-openjdk-amd64/jre/bin/java
!java -version

!pip install h2o
import h2o
from h2o.estimators import H2ORandomForestEstimator

#h2o.shutdown()
h2o.init()

In [ ]:
h2o_train=h2o.H2OFrame(train_set)
h2o_test=h2o.H2OFrame(test_set)

h2o_train["Stage"] = h2o_train["Stage"].asfactor()
predictors = ['Region', 'Territory', 'Bureaucratic_Code', 'Source', 'Billing_Country', 'Account_Name', 'Opportunity_Name', 'Account_Owner', 'Opportunity_Owner', 'Account_Type', 'Opportunity_Type', 'Quote_Type', 'Delivery_Terms', 'Product_Family', 'Product_Name', 'TRF', 'Stage', 'Total_Amount_USD', 'ASP_USD', 'Total_Taxable_Amount_USD', 'Opportunity_Created_Month', 'Opportunity_Created_Day', 'Opportunity_Created_Year', 'Pricing_And_Delivery_OK', 'Bureaucratic_OK']
response = "Stage"

train, valid = h2o_train.split_frame(ratios=[.8], seed=1234)

drf = h2o.estimators.H2ORandomForestEstimator(nfolds=2, ntrees=50, max_depth=5, min_rows=5, binomial_double_trees=True, calibrate_model=True,calibration_frame=valid)
drf.train(x=predictors, y=response, training_frame=train, validation_frame=valid)

# Eval performance:
perf = drf.model_performance()

# Generate predictions on a set:
pred = drf.predict(h2o_test)

perf

In [ ]:
pred

In [ ]:
# Le damos el formato correcto a las predicciones
pred["Opportunity_ID"] = h2o.H2OFrame(test_set.reset_index()[["Opportunity_ID"]])
pred["Target"] = pred["cal_Closed Won"]
# Las exportamos a Drive
#h2o.export_file(pred[["Opportunity_ID", "Target"]], "/content/drive/MyDrive/Datos/pred7_cal.csv", force=True)

## Modelo 3

In [ ]:
# Modelo 1